dataset_dir: "$ROOT/cascaded_dataset"
split_mode: "subdirs"
val_rate:
sr: 44100
hop_length: 1024
n_fft: 2048

train:
  batch_size: 4
  num_workers: 4
  shuffle: True
  patches: 16
  cropsize: 256
  reduction_rate: 0.0
  reduction_level: 0.2
  mixup_rate: 0.0
  mixup_alpha: 1.0


val:
  batch_size: 2
  num_workers: 16
  shuffle: False
  cropsize: 256
  offset:
  filelist: #"$ROOT/cascaded_dataset/val_files.csv"