asteroid
datasets
editdistance
fire
gdown
googletrans==3.1.0a0
hydra-core
IPython
matplotlib
numpy
pandas
pedalboard
pillow
pyctcdecode
speechbrain
tensorboard
torch
torch_audiomentations
torchaudio
torchmetrics
torchvision
tqdm
wandb
spafe
moviepy
TTS
pydub
openai-whisper