asteroid
datasets
editdistance
fire
fsspec
gdown
googletrans==3.1.0a0
hydra-core
IPython
librosa
matplotlib
moviepy
numpy
omegaconf
openai-whisper
opencv_python
pandas
pedalboard
pillow
pyctcdecode
pydub
pyworld
scikit-learn
scipy
soundfile
speechbrain
spafe
tensorboard
torch
torch_audiomentations
torchaudio
torchcrepe
torchmetrics
torchvision
transformers
TTS
tqdm
wandb
faiss-cpu
faiss-gpu