asteroid
datasets
editdistance
fire
fsspec
gdown
hydra-core
IPython
librosa
matplotlib
moviepy
numpy
omegaconf
openai-whisper
opencv_python
pandas
pedalboard
pillow
pyctcdecode
pydub
pyworld
scikit-learn
scipy
soundfile
speechbrain
spafe
tensorboard
torch
torch_audiomentations
torchaudio
torchcrepe
torchmetrics
torchvision
transformers
tqdm
wandb
faiss-cpu
faiss-gpu
demucs
#python3 -m pip install -U git+https://github.com/facebookresearch/demucs#egg=demucs